/* Insert here the CSS for the section of the member "Francesco" */
#Dashboard_Frank_carousel, #Dashboard_Frank_grid {
    display : flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url("../images/bkg-2.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 15px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}
#Dashboard_Frank_grid,#Dashboard_Frank_carousel >h3 {
    color: #c5d0f0;
    text-shadow: -1px -1px 0 #c5d0f0;
}
#square
{
    opacity: 0;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    text-align: center;
    align-items: center;
    height: 80%;
    width: 60%;
    background: #c5d0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px ;

}

.click{
    opacity: 1;
}

#square:hover {
   transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
#square>h3{
    padding-left:1.25rem;
    width: 10%;
    height: 10%;
}
#square> p{
    font-size: 1.2rem;
    padding-top:1.25rem;
}
.image-wrapper {
    display: grid;
    width: 70%;
    height: 90%;

}

.img {
    margin-top:4%;
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}

.img1 {
    background-image: url("../images/avatar.png");
    opacity: 1;
    z-index: 1;
}

.img2 {

    background-image: url('../images/avatarocchiolino.png');
    opacity: 0;
    z-index: 2;
}

.image-wrapper:hover .img2 {
    opacity: 1;
}
.image-wrapper:hover .img1 {
    opacity: 0;
}

