/* Insert here the CSS for the section of the member "Michele" */
.Dashboard_Mich {
    color: black;
    background-color: darkred;
    display: flex;
    flex-direction: column;
    
}

.Dashboard_Mich>*{
    margin: 0.5rem;
}

.Second-Line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 1.5rem;

}

.Paragraph-Mich {
    font: italic 13px "Lucida Grande", "Times New Roman", "Comic Sans MS", serif;
    padding: 5px;
    margin: 5px;
}

.Cavallo-Pazzo{
    max-height: 40vh;
    width: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 50px 0 50px 0;
}